.header{
    text-align: center;
    font-family: Cambria;
    background-color: #FFEBA1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

h1 {
    font-size: 25px;
}

h2{
    font-style: italic;
    text-decoration: underline;
    font-family: 'Shadows Into Light', cursive;    align-self: center;
    margin-top: -15px;
}

body {
    display: grid;
    align-items: center;
    justify-content: center;
    background: url('images/pexels-tirachard-kumtanom-733857.jpg') repeat fixed;
    background-size: cover;
}

.container {
    width: fit-content;
    height: fit-content;
    position: relative;
    background: inherit;
    border-radius: 50px;
    box-shadow: 0 0 1rem #FD6F96;
    overflow: hidden;
    z-index: 1;
    margin-top: 100px;
    text-align: left;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.container:before {
    content: "";
    position: absolute;
    background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 25px;
    box-shadow: inset 0 0 2000px #E2C4C6;
    filter: blur(1px);
    margin: -20px;
    z-index: -1;
}

.todoList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.todo{
    margin-top: 10px;
}

input[type=text]{
    padding: 5px;
    border-radius: 10px;
    border: solid #95DAC1;
    margin: 20px 10px 10px 10px;
}

input, input[placeholder] {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    font-family: 'Shadows Into Light', cursive;
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    left: 0;
    border-radius: 10px;
    vertical-align: middle;
}

.checkbox-round {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #95DAC1;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
}

.checkbox-round:checked {
    background-color: #95DAC1;
}

.buttonfield{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: center
}

button{
    padding: 5px;
    border-radius: 10px;
    border: solid #95DAC1;
    margin: 10px;
    background-color: #95DAC1;
    color: white;
}

label{
    font-style: italic;
    font-family: 'Shadows Into Light', cursive;
    font-size: 18px;
    color: #FD6F96;
}

.whatIsLeft {
    font-family: 'Shadows Into Light', cursive;
    font-size: 18px;
    font-style: italic;
    padding: 5px;
    margin: 10px;
    text-align: center;
}

.footer{
    text-align: center;
    font-family: Cambria;
    margin-top: 10px;
    padding: 10px;
    background-color: #FFEBA1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}